extend ../../layouts/default
include ../../mixins/pagination
block main
    if products.length>0
        #Menu.menu.section-padding
            if(search)
                .container
                    .row
                        .col-12
                            .our-menu.mb-2
                                h1
                                    span KẾT QUẢ TÌM KIẾM SẢN PHẨM
                                .inner-dir
            else
                .container
                    .row
                        .col-12
                            .our-menu.mb-2
                                h1
                                    span #{title}
                                .inner-dir
            .container-fluid
                .row
                    .sidebar.col-lg-2.ms-5
                        .d-flex.flex-column.flex-shrink-0.text-black.bg-white
                            h3(class="d-flex align-items-center text-black")
                                svg.bi(width="40", height="32")
                                    use(xlink:href="#bootstrap")
                                span.fs-4 Danh mục
                            ul.nav.nav-pills.flex-column.mb-auto.mt-3
                                each category in productsCategory
                                    li.nav-sidebar
                                        a.nav-link.text-black.a-sidebar(href=`/products/${category.slug}`)
                                            img(class="nav-sidebar-img" src=category.thumbnail alt="category image") 
                                            span #{category.title}
                        div(class="sidebar-filter mt-3 mb-5") 
                            div(class="filter-section")
                                h3(class="filter-title") Bộ lọc 
                                div(class="price-filter")
                                    h4(class="price-title") Mức giá
                                    div(class="price-options")
                                        a(href="javascript:;" class="price-option-link" data-from="0" data-to="50000") 
                                            div(class="price-option")
                                                input(type="checkbox" id="price1" class="price-checkbox price-option-checkbox" )
                                                label(for="price1") Dưới 50 ngàn
                                        a(href="javascript:;" class="price-option-link" data-from="50000" data-to="100000") 
                                            div(class="price-option")
                                                input(type="checkbox" id="price2" class="price-checkbox price-option-checkbox" )
                                                label(for="price2") 50 đến 100 ngàn
                                        a(href="javascript:;" class="price-option-link" data-from="100000" data-to="150000") 
                                            div(class="price-option")
                                                input(type="checkbox" id="price3" class="price-checkbox price-option-checkbox" )
                                                label(for="price3") 100 đến 150 ngàn
                                        a(href="javascript:;" class="price-option-link" data-from="150000" data-to="15000000") 
                                            div(class="price-option")
                                                input(type="checkbox" id="price4" class="price-checkbox price-option-checkbox")
                                                label(for="price4") Trên 150 ngàn
                                        a(href="javascript:;"  class="price-option-link") 
                                            span Xóa


                    .content.col-lg-9
                        .container-fluid
                            .row
                                each product in products
                                    .col-lg-3.col-md-6.col-12.mb-3
                                        .h-100.card(data-id=product.id)
                                            a(href=`/detail/${product.slug}`) 
                                                img.card-img-top(src=product.thumbnail alt="product image")
                                            button.btn-add.rounded
                                                i.bi.bi-cart-check-fill
                                            .card-body
                                                .inner-content.mb-2
                                                    span.inner-onsale
                                                        i.fa-solid.fa-bolt 
                                                        |GIẢM -#{product.discountPercentage}%
                                                h4.product-title
                                                    a(href=`/detail/${product.slug}`)  #{product.title}
                                                .price
                                                    span.price-amount #{product.priceNew.toLocaleString('vi-VN')}
                                                        span.currency-symbol đ
                                                    span.price-amount.old-price #{product.price.toLocaleString('vi-VN')} <span class="currency-symbol1">đ</span>
                                                button(data-id=product.slug class="btn btn-pay mt-2 ") Mua ngay
                                                //- a(href=`/order/info/${product.slug}` class="btn btn-pay mt-2 ") Mua ngay
                            .row.mt-3
                                .col-12.text-center
                                    +pagination(pagination)
    else
        div(class="container d-flex justify-content-center py-4")
            div(class="search-empty")
                img(src="uploads/search.png" alt="")
                span Ố ồ! Không có sản phẩm nào cho từ khóa #{search}
    div(id="notificationmethod" class="method")
        div(class="method-content")
            p(class="method-text") sản phẩm <span class="method-name-product"></span> đã hết! 
            div(class="method-actions")
                button(class="confirmation btn btn-primary") Xác nhận
    script(src="/js/cart.js") 