extend ../../layouts/default
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug
block main 
    if(role.permissions.includes("products_category_edit"))
        h1 Chỉnh sửa danh mục sản phẩm
        +alert-error(5000) 
        +alert-success(5000) 
        form(
            action=`${prefixAdmin}/products-category/edit/${productCategory.id}?_method=PATCH`,
            id="form-edit-product",
            method="POST"
            enctype="multipart/form-data"
        )
            div(class="form-group")
                label(for="title") Tiêu đề
                input(
                type="text",
                class="form-control",
                id="title",
                name="title",
                value= productCategory.title
                )
            div(class="form-group")
                label(for="parent_id") Danh mục cha
                select(
                    class="form-control",
                    id="parent_id",
                    name="parent_id",
                ) 
                    option(value="") --Chọn danh mục cha
                    if(records)
                        +select-tree(records,1,productCategory.parent_id)

            div(class="form-group")
                label(for="desc") Mô tả
                textarea(
                class="form-control tiny-mce",
                id="desc",
                name="description",
                rows="5"
                ) !{productCategory.description}
            div(class="form-group" upload-image)
                label(for="thumbnail") Ảnh
                input(
                    type="file",
                    class="form-control-file",
                    id="thumbnail",
                    name="thumbnail"
                    accept="image/*"
                    upload-image-input
                )
                img(src=productCategory.thumbnail id="blah"  class="image-prev" upload-image-preview width="300px")
            div(class="form-group")
                label(for="position") Vị trí
                input(
                    type="number",
                    class="form-control",
                    id="position",
                    name="position",
                    placeholder="Tự động tăng",
                    min="1"
                    value=productCategory.position
                )
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio",
                    class="form-check-input",
                    id="statusActive",
                    name="status",
                    value="active",
                    checked=(productCategory.status=="active"?true:false)
                )
                label(for="statusActive" class="form-check-label") Hoạt động
                div(class="form-group form-check form-check-inline")
                input(
                    type="radio",
                    class="form-check-input",
                    id="statusInActive",
                    name="status",
                    value="inactive"
                    checked=(productCategory.status=="inactive"?true:false)
                )
                label(for="statusInActive" class="form-check-label") Dừng hoạt động
            div(class="form-group")
                button(
                    class="btn btn-primary"
                    type="submit"
                ) Cập nhật
    else
        img(src="/uploads/5206817.jpg", alt="Unauthorization" style="width:1000px;height:600px")