extend ../../layouts/default
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug
block main 
    if(role.permissions.includes("articles_category_view"))
        h1 Thêm mới danh mục
        +alert-error(5000) 
        form(
            action=`${prefixAdmin}/articles-category/create`,
            id="form-create-article",
            method="POST"
            enctype="multipart/form-data"
        )
            div(class="form-group")
                label(for="title") Tiêu đề
                input(
                type="text",
                class="form-control",
                id="title",
                name="title",
                )
            div(class="form-group")
                label(for="desc") Mô tả
                textarea(
                class="form-control tiny-mce",
                id="desc",
                name="description",
                rows="5"
                ) 
            div(class="form-group" upload-image)
                label(for="thumbnail") Ảnh
                input(
                    type="file",
                    class="form-control-file",
                    id="thumbnail",
                    name="thumbnail"
                    accept="image/*"
                    upload-image-input
                )
                <img id="blah" class="image-prev" src="" upload-image-preview width="300px"/>
            div(class="form-group")
                label(for="position") Vị trí
                input(
                    type="number",
                    class="form-control",
                    id="position",
                    name="position",
                    placeholder="Tự động tăng",
                    min="1"
                )
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio",
                    class="form-check-input",
                    id="statusActive",
                    name="status",
                    value="active",
                    checked
                )
                label(for="statusActive" class="form-check-label") Hoạt động
                div(class="form-group form-check form-check-inline")
                input(
                    type="radio",
                    class="form-check-input",
                    id="statusInActive",
                    name="status",
                    value="inactive"
                )
                label(for="statusInActive" class="form-check-label") Dừng hoạt động
            div(class="form-group")
                button(
                    class="btn btn-primary"
                    type="submit"
                ) Tạo mới
    else
        img(src="/uploads/5206817.jpg", alt="Unauthorization" style="width:1000px;height:600px")