mixin alert-success(time)
    if (messages.success)
        div(
            class="alert alert-success text-center"
            show-alert 
            data-time=time
        )   #{messages.success} <i class="fa-solid fa-xmark" close-alert> </i>

mixin alert-error(time)
    if (messages.error)
        div(
            class="alert alert-danger text-center"
            show-alert 
            data-time=time
        )   #{messages.error} <i class="fa-solid fa-xmark" close-alert> </i>
mixin alert-error-forgot(time)
    if (messages.error)
        div(
            class="alert alert-danger text-center"
            show-alert1 
            data-time=time
        )   #{messages.error} <i class="fa-solid fa-xmark" close-alert1> </i>