doctype html
html(lang="en")
    head
        title #{title}
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/changepass.css")
        link( rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    body 
        a.logo(href="/")
            img(src="/uploads/logo.png", alt)
        span.info Change pass
        .mainDiv
            .cardStyle
                form#signupForm(method="POST", action="/user/password/reset")
                    if(messages.success)
                        div(
                            class="alert alert-success text-center"
                            show-alert1
                            data-time=3000
                        )   #{messages.success} <i class="fa-solid fa-xmark"> </i>
                    img(src="/uploads/SHIPSY_LOGO_BIRD_BLUE.png" id="signupLogo")
                    h2.formTitle Đổi mật khẩu
                    .inputDiv
                        label.inputLabel(for="password") Mật khẩu mới
                        input#password(type="password", name="password" value=messages.passValue ? messages.passValue[0] : '')
                        if(messages.passwordError)
                            lable(id="email-error" class="error invalid-feedback1" for="full_name" style="display:block") #{messages.passwordError} 
                    .inputDiv
                        label.inputLabel(for="confirmPassword") Xác nhận mật khẩu
                        input#confirmPassword(type="password", name="confirmPassword")   
                        if(messages.confirmError)
                            lable(id="email-error" class="error invalid-feedback1" for="full_name" style="display:block") #{messages.confirmError}  
                    .buttonWrapper
                        button.submitButton.pure-button.pure-button-primary(type="submit", name="submitButton")
                            span Continue
    script(src="/js/user.js") 
