extend ../../layouts/default
include ../../mixins/alert.pug
block main
    if(role.permissions.includes("articles_view"))
        if (article.title) 
            h1(class="mb-4") #{article.title}
        if (article.thumbnail)
            div(class="mb-4")
                img(
                src=article.thumbnail
                style="width: 100px"
                )
        if (article.status)
            div(class="mb-4")
                span Status:
                if (article.status === "active")
                    span(class="badge badge-success") Hoạt động
                else
                    span(class="badge badge-danger") Dừng hoạt động
        if (article.position) 
            div(class="mb-4") Vị trí: <b>#{article.position}</b>
        if (article.shortDescription)
            div(class="mb-4") !{article.shortDescription}
        if (article.content)
            div(class="mb-4") !{article.content}
        a(href=`${prefixAdmin}/articles/edit/${article.id}` class="btn btn-warning btn-sm ml-1") Chỉnh sửa
    else
        img(src="/uploads/5206817.jpg", alt="Unauthorization" style="width:1000px;height:600px")