doctype html
html(lang="en")
    head
        title #{title}
        meta(charset="UTF-8")
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        link(rel="stylesheet", href="/css/nav.css")
        link(rel="stylesheet", href="/css/article.css")
        //- link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    body
        include ../../partials/header
        .container.mb-5
            .row 
                header.articles
                    div(class="site-title") Bài Viết Thức Ăn
                main(class="main-content")
                    div(class="article-list")
                        each item in articlesFeatured
                            article(class="article-card")
                                a(href="") 
                                    img(src=item.thumbnail alt=item.title class="article-image")
                                div(class="article-content")
                                    a(href=item.slug) 
                                        h2 #{item.title}
                                    p !{item.shortDescription}
                                    div(class="article-meta")
                                        span #{moment(item.createdBy.createdAt).format('DD/MM/YYYY')}
                                        a(href=item.slug class="read-more") XEM THÊM
                   
                    aside(class="sidebar")
                        h2(class="sidebar-title") Tin mới
                        each item in articles
                            div(class="recent-post")
                                a(href=item.slug) 
                                    img(src=item.thumbnail alt=item.title)
                                div(class="recent-post-content")
                                    a(href=item.slug) 
                                        h3 #{item.title}
                                    div(class="recent-post-date") #{moment(item.createdBy.createdAt).format('DD/MM/YYYY')}
                            
        include ../../partials/footer
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js")