
nav
    a.nav-link(href=`${prefixAdmin}/products-category`) Categories
    div(class="my-account")
        div(class="text-right")
            a(
                href=`${prefixAdmin}/my-account`
                style="margin-right: 10px;"
            ) #{user.fullname}
            a.profile(href=`${prefixAdmin}/my-account`)
                img(src=user.avatar)

            //- header.header   
    //-     .container-fluid 
    //-         .row.align-items-center 
    //-             .col-3  
    //-                 .inner-logo 
    //-                     a(href=`/admin/dashboard`) Admin 
    //-             .col-9 
                        
    //-                 div(class="text-right")
    //-                     a(
    //-                         href=`${prefixAdmin}/my-account`
    //-                         class="btn btn-primary btn-sm mr-2"
    //-                     ) #{user.fullname}
    //-                     a(
    //-                         href=`${prefixAdmin}/auth/logout`
    //-                         class="btn btn-danger btn-sm"
    //-                     ) Đăng xuất