section#sidebar
    a.brand(href=`${prefixAdmin}/dashboard`)
        i.bx.bxs-smile
        span.text AdminHub
    ul.side-menu.top
        li.active
            a(href=`${prefixAdmin}/dashboard`)
                <i class='bx bxs-dashboard' ></i>
                span.text Tổng quan
        if(role.permissions.includes("products_category_view"))
            li
                a(href=`${prefixAdmin}/products-category`)
                    <i class='bx bxs-category' ></i>
                    span.text Danh mục sản phẩm
        if(role.permissions.includes("products_view"))
            li
                a(href=`${prefixAdmin}/products`)
                    <i class='bx bxl-product-hunt'></i>
                    span.text Danh sách sản phẩm
        if(role.permissions.includes("orders_view"))
            li
                a(href=`${prefixAdmin}/orders`)
                    <i class='bx bxs-user-account' ></i>
                    span.text Danh sách đơn hàng
        if(role.permissions.includes("roles_view"))
            li
                a(href=`${prefixAdmin}/roles`)
                    <i class='bx bxs-group' ></i>
                    span.text Nhóm quyền
        if(role.permissions.includes("roles_permissions"))
            li
                a(href=`${prefixAdmin}/roles/permissions`)
                    <i class='bx bxs-pencil'></i>
                    span.text Phân quyền
        if(role.permissions.includes("accounts_view"))
            li
                a(href=`${prefixAdmin}/accounts`)
                    <i class='bx bxs-user-account' ></i>
                    span.text Danh sách tài khoản admin
        if(role.permissions.includes("users_view"))
            li
                a(href=`${prefixAdmin}/users`)
                    <i class='bx bxs-user-account' ></i>
                    span.text Danh sách tài khoản client
        
    ul.side-menu
        li
            a(href=`${prefixAdmin}/settings/general`)
                i.bx.bxs-cog
                span.text Cài đặt
        li
            a.logout(href=`${prefixAdmin}/auth/logout`)
                i.bx.bxs-log-out-circle
                span.text Đăng xuất